<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.texon.engineeringsmartbook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_esb"
        android:label="@string/app_short_name"
        android:roundIcon="@drawable/logo_esb"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngineeringSmartBook">
        <activity
            android:name=".View.Auth.UserProfile"
            android:exported="false" />
        <activity
            android:name=".View.BookEnrollment"
            android:exported="false" />
        <activity
            android:name=".View.SuccessfullyEnrolled"
            android:exported="false" />
        <activity
            android:name=".View.Auth.OtpVerify"
            android:exported="false" />
        <activity
            android:name=".View.Auth.SignUp"
            android:exported="false" />
        <activity
            android:name=".View.Auth.Login"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".View.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>