<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.texon.engineeringsmartbook">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_esb"
        android:label="@string/app_short_name"
        android:roundIcon="@drawable/logo_esb"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngineeringSmartBook">
        <activity
            android:name=".VideoPlayer"
            android:exported="false" />
        <activity
            android:name=".Scanner"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentMethod"
            android:exported="false" />
        <activity
            android:name=".AddressConfirmation"
            android:exported="false" />
        <activity
            android:name=".BookDetails"
            android:exported="false" />
        <activity
            android:name=".view.BookEnrollment"
            android:exported="false" />
        <activity
            android:name=".view.SuccessfullyEnrolled"
            android:exported="false" />
        <activity
            android:name=".view.ui.auth.OtpVerify"
            android:exported="false" />
        <activity
            android:name=".view.ui.auth.SignUp"
            android:exported="false" />
        <activity
            android:name=".view.ui.auth.Login"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

</manifest>

